/* noto-sans-regular - cyrillic */
@import "media.css";
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-sans-v21-cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/noto-sans-v21-cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans-v21-cyrillic-regular.woff2") format("woff2"), url("../fonts/noto-sans-v21-cyrillic-regular.woff") format("woff"), url("../fonts/noto-sans-v21-cyrillic-regular.ttf") format("truetype"), url("../fonts/noto-sans-v21-cyrillic-regular.svg#NotoSans") format("svg");
  /* Legacy iOS */
}
/* noto-sans-700 - cyrillic */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/noto-sans-v21-cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/noto-sans-v21-cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans-v21-cyrillic-700.woff2") format("woff2"), url("../fonts/noto-sans-v21-cyrillic-700.woff") format("woff"), url("../fonts/noto-sans-v21-cyrillic-700.ttf") format("truetype"), url("../fonts/noto-sans-v21-cyrillic-700.svg#NotoSans") format("svg");
  /* Legacy iOS */
}
/* philosopher-regular - latin_cyrillic */
@font-face {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/philosopher-v14-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/philosopher-v14-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/philosopher-v14-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/philosopher-v14-latin_cyrillic-regular.woff") format("woff"), url("../fonts/philosopher-v14-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/philosopher-v14-latin_cyrillic-regular.svg#Philosopher") format("svg");
  /* Legacy iOS */
}
/* philosopher-700 - latin_cyrillic */
@font-face {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/philosopher-v14-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/philosopher-v14-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/philosopher-v14-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/philosopher-v14-latin_cyrillic-700.woff") format("woff"), url("../fonts/philosopher-v14-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/philosopher-v14-latin_cyrillic-700.svg#Philosopher") format("svg");
  /* Legacy iOS */
}
/* pt-sans-regular - cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-v12-cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/pt-sans-v12-cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/pt-sans-v12-cyrillic-regular.woff2") format("woff2"), url("../fonts/pt-sans-v12-cyrillic-regular.woff") format("woff"), url("../fonts/pt-sans-v12-cyrillic-regular.ttf") format("truetype"), url("../fonts/pt-sans-v12-cyrillic-regular.svg#PTSans") format("svg");
  /* Legacy iOS */
}
/* pt-sans-700 - cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-v12-cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/pt-sans-v12-cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/pt-sans-v12-cyrillic-700.woff2") format("woff2"), url("../fonts/pt-sans-v12-cyrillic-700.woff") format("woff"), url("../fonts/pt-sans-v12-cyrillic-700.ttf") format("truetype"), url("../fonts/pt-sans-v12-cyrillic-700.svg#PTSans") format("svg");
  /* Legacy iOS */
}
/* montserrat-regular - cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v18-cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v18-cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v18-cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v18-cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v18-cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v18-cyrillic-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-700 - cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v18-cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v18-cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v18-cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v18-cyrillic-700.woff") format("woff"), url("../fonts/montserrat-v18-cyrillic-700.ttf") format("truetype"), url("../fonts/montserrat-v18-cyrillic-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
*, html, body {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

#section-header {
  background: url("https://picsum.photos/id/149/800/600") no-repeat 0 80%;
  background-size: cover;
  height: calc(100vh - 72px);
  position: relative;
}

.bg-header {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: calc(100vh - 72px);
}

.logo {
  width: 145px;
}

.logo img {
  width: 145px;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 65px;
  background: #F3F4F8;
  height: 72px;
  position: sticky;
  top: 0;
  z-index: 99;
}
.site-header .logo img {
  border-radius: 50%;
  width: 60px;
}
.site-header a:hover {
  color: #3A3A3A;
}

.header-items {
  display: flex;
  align-items: center;
}
.header-items span {
  margin: 0 24px;
}
.header-items a {
  color: #3A3A3A;
}

.btn-header {
  border: 1px solid #3A3A3A;
  border-radius: 36px;
}
.btn-header a {
  font-family: "Noto Sans";
  font-size: 12px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s ease;
}
.btn-header a:hover {
  box-shadow: 2px 5px 10px 0px rgba(34, 60, 80, 0.2);
  border-radius: 36px;
}

.number-header a {
  font-size: 14px;
}

.menu-text {
  text-transform: uppercase;
  font-size: 16px;
}

.menu-header span {
  margin: 0 0 0 10px;
}

.menu-header span, .menu-header svg, .menu-header rect {
  transition: 0.5s ease;
}

.menu-header {
  cursor: pointer;
  display: none;
  align-items: center;
}

.menu-header span:hover {
  color: #47655D;
}

.menu-header:hover svg rect {
  fill: #47655D;
}

.header-block h1 {
  margin-bottom: 48px;
}

.header-block p {
  font-family: "Noto Sans";
  margin-bottom: 36px;
  font-size: 22px;
  color: #fff;
}

.header-block .btn a {
  text-transform: uppercase;
  color: #181818;
  font-size: 14px;
  font-weight: 700;
  background: #fff;
  padding: 12px 48px;
  border-radius: 23px;
}

.button {
  background: #FFFFFF;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  padding: 3px 20px;
}

.header-block {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.scroll-item {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}

.scroll-item p {
  font-family: "Philosopher";
  font-weight: 700;
  text-transform: uppercase;
}

.scroll-item svg {
  margin-top: -30px;
}

.nav-menu {
  width: 30%;
  position: fixed;
  right: 0;
  transform: translateX(100%);
  background: #F1F5F8;
  transition: 0.5s ease;
  z-index: 99999;
}

.nav-menu.opened {
  transform: translateX(0);
}

.close-nav {
  cursor: pointer;
}

.nav-menu-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 53px;
  padding: 24px 40px 0 19px;
}

.nav-menu-head p {
  font-size: 16px;
  font-family: "Philosopher";
  font-weight: 700;
  color: #3A3A3A;
  text-transform: uppercase;
}

.nav-menu-head a {
  font-family: "Noto Sans";
  font-size: 12px;
  font-weight: 700;
  color: #3A3A3A;
  text-transform: uppercase;
  background: #fff;
  border-radius: 20px;
  padding: 13px 18px;
  border: 1px solid #C8C8C8;
}

.nav-menu-head a:hover {
  color: #3A3A3A;
}

.nav-menu-body {
  text-align: center;
}

.nav-menu-body p {
  font-family: "Philosopher";
  font-size: 38px;
  color: #181818;
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.nav-menu-body p:hover {
  background: #404E4A;
  color: #F3F4F8;
}

.nav-menu-body:hover {
  padding: 0;
}

.nav-menu-body div {
  width: 100px;
  height: 1px;
  background: #181818;
  margin: 45px auto 0 auto;
}

.nav-menu-footer {
  text-align: center;
  margin-top: 60px;
  padding: 0 0 85px 0;
}

.nav-menu-footer a {
  font-family: "Noto Sans";
  color: #181818;
  font-size: 18px;
  font-weight: 700;
  transition: 0.5s ease;
}

.nav-menu-footer a:hover {
  color: #47655D;
}

.nav-btn {
  margin-top: 16px;
}

.nav-menu-footer .nav-btn a {
  background: #F1F5F8;
  color: #3A3A3A;
  font-size: 12px;
  padding: 8px 30px;
  border: 1px solid #3A3A3A;
  border-radius: 20px;
  text-transform: uppercase;
  text-align: center;
}

.nav-icons {
  margin-top: 60px;
}

.nav-icons svg {
  margin: 0 15px;
}

.popup-bg {
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.section-padding {
  padding: 150px 0;
  position: relative;
}

.section-heading-text {
  font-family: Philosopher;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  position: relative;
  line-height: 40px;
  color: #181818;
  text-align: left;
  margin-left: 110px;
  margin-top: 20px;
  z-index: 9;
}

#news {
  padding: 60px 0;
}
#news .news-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#news .news-wrap .news-item {
  border: 1px solid black;
  border-radius: 10px;
  padding-bottom: 20px;
}
#news .news-wrap .news-item .news-item-head {
  width: 300px;
  height: 200px;
}
#news .news-wrap .news-item .news-item-head img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
}
#news .news-wrap .news-item .news-item-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#news .news-wrap .news-item .news-item-content h2 {
  margin-top: 10px;
}
#news .news-wrap .news-item .news-item-content p {
  margin-top: 10px;
}
#news .news-wrap .news-item .news-item-content a {
  padding: 10px 20px;
  background: black;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
}

#join-us {
  padding: 60px 0;
}
#join-us .join-us-wrap .join-us-heading {
  display: flex;
  justify-content: center;
}
#join-us .join-us-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
#join-us .join-us-form input {
  padding: 10px 40px;
  width: 30%;
}
#join-us .join-us-form input:first-child {
  margin-bottom: 10px;
}
#join-us .join-us-form a {
  padding: 10px 20px;
  background: black;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
  width: 30%;
}

#footer {
  padding: 20px;
  background: black;
}
#footer .footer-wrap {
  display: flex;
  justify-content: space-around;
}
#footer .footer-wrap p {
  color: white;
}

.header-block h1 {
  font-family: "Philosopher";
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}

.no-padding-right {
  padding-right: 0 !important;
}

.scroll-item:hover {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
